{% extends 'base/page.html' %}

{% block content %}
<h1>Binary packages {{ start }}*</h1>

<p>
{% for pkg in packages %}
<a href="{{ pkg['quoted'] }}/">{{ pkg['raw'] }}</a><br />
{% endfor %}
</p>
{% endblock content %}
